<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

<header>
    <h1 align="center">Welcome !!</h1>
</header>

<div align="center">
    <p>This is your portal</p>

    <table border="1" cellpadding="10">
        <tr>
            <th>Add Actions</th>
            <th>View Actions</th>
        </tr>
        <tr>
            <td><a href="/load_category">
                <button type="button">Add Category</button>
            </a></td>
            <td><a href="/view_category">
                <button type="button">View Category</button>
            </a></td>
        </tr>
        <tr>
            <td><a href="/load_sub_category">
                <button type="button">Add Sub Category</button>
            </a></td>
            <td><a href="/view_sub_category">
                <button type="button">View Sub Category</button>
            </a></td>
        </tr>
        <tr>
            <td><a href="/load_product">
                <button type="button">Add Product</button>
            </a></td>
            <td><a href="/view_product">
                <button type="button">View Product</button>
            </a></td>
        </tr>
    </table>

</div>

</body>
</html>
