<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Subcategory</title>
</head>
<body>

<h2 align="center">Edit Subcategory</h2>

<table align="center" border="1" cellpadding="10">
    <tr>
        <td>
            <form action="/update_sub_category/{{ sub_category.sub_category_id }}" method="POST">
                <table>
                    <tr>
                        <td><label for="subCategoryCategoryId">Category Name:</label></td>
                        <td>
                            <select name="subCategoryCategoryId" id="subCategoryCategoryId">
                                {% for category in category_vo_lst %}
                                    <option value="{{ category.category_id }}"
                                            {% if category.category_id == sub_category.subcategory_category_id %}
                                            selected {% endif %}>
                                        {{ category.category_name }}
                                    </option>
                                {% endfor %}a
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="subCategoryName">Subcategory Name:</label></td>
                        <td><input type="text" name="subCategoryName" value="{{ sub_category.sub_category_name }}"
                                   ></td>
                    </tr>
                    <tr>
                        <td><label for="subCategoryDescription">Subcategory Description:</label></td>
                        <td><textarea name="subCategoryDescription"
                                      >{{ sub_category.sub_category_description }}</textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="submit">Update</button>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
