<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            flex-direction: column;
        }

        form {
            text-align: center;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<h1>Login</h1>
<form method="POST" action="/login">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <label for="register_username">Username:</label>
    <input type="text" name="register_username" id="register_username" required>
    <br>
    <br>
    <label for="register_password">Password:</label>
    <input type="password" name="register_password" id="register_password" required>
    <br>
    <br>
    <button type="submit">Login</button>
    <br>
    <br>
    <a href="/load_register">Register</a>
</form>
</body>
</html>